# ========================
# CMAKE / BUILD ARTIFACTS
# ========================
build/
*/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.obj
*.dll
*.lib
*.exe
*.ilk
*.pdb

# ========================
# MATLAB / SIMULINK
# ========================
slprj/
*_m.m
*_grt.c
*_rtw/
html/
*.autosave
*.log
*.bak

# ========================
# IDE & OS
# ========================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db